@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
    background-color: #fffcf2;
}
.btn {
    padding: 12px 16px;
}

.primary-btn {
    color: #fff;
    background-color: #433A3F;
}
.secondary-btn {
    color: #433A3F;
    background-color: #fff;
    border: 1px solid #433A3F;
}
